.app {
  --black: #8a4028;
  --gold: gold;
  --green: #3a773a;
  --blue: #5d5dab;
  --white: lightgray;
  --red: #e03e3e;

  --available-card-width: 130px;
  --available-card-height: 180px;

  --reserved-card-width: 90px;
  --reserved-card-height: 120px;

  --token-size: 80px;
  --minimized-token-size: 50px;

}

