$token-size: 80px;
$token-size-minimized: 50px;
.token {
  position: relative;
  width: $token-size;
  height: $token-size;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  display: flex;

  &--minimized {
    height: $token-size-minimized;
    width: $token-size-minimized;
  }

  &--red {
    background-color: red;
  }

  &--black {
    background-color: black;
  }

  &--gold {
    background-color: gold;
  }

  &--blue {
    background-color: blue;
  }

  &--green {
    background-color: green;
  }

  &--white {
    background-color: lightgray;
  }

  &__icon {
    margin: auto;
    width: 50%;
    height: 50%;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    background-color: white;
  }

  &__amount {
    margin: auto;
  }
}
