{
  "env": {
    "client": {
      "presets": [["env",{
        "targets": {
          "browsers": ["last 4 Chrome versions"]
        }
      }], "react"],
      "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "react-hot-loader/babel",
        "lodash"
      ]
    },
    "server": {
      "presets": ["es2015", "stage-2"],
      "plugins": []
    }
  }
}
