$card-width: 120px;
$card-height: 160px;
$card-width-reserved: 80px;
$card-height-reserved: 100px;

.card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;

  box-sizing: border-box;
  border: 1px solid black;
  padding: 5px;
  width: $card-width;
  height: $card-height;

  text-align: center;

  &__title {
    flex-grow: 1;
  }

  &__prestige {
    flex-grow: 1;
  }

  &__bonus {
    flex-grow: 1;
  }

  &__cost {
    display: flex;
    justify-content: space-around;
  }

  &__cost-token {
    border: 4px solid black;
    padding: 5px;

    &--reserved {
      padding: 3px;
    }

    &--red {
      border-color: red;
    }

    &--blue {
      border-color: blue;
    }

    &--green {
      border-color: green;
    }

    &--white {
      border-color: lightgray;
    }

  }

  &--available {

  }

  &--reserved {
    width: $card-width-reserved;
    height: $card-height-reserved;
    font-size: 0.8em;
  }

}
