.player-information {
  border-top: 1px solid black;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  &--active-player {
    .player-information__title {
      color: white;
    }
    .player-information__prestige {
      background-color: white;
      border: 1px solid black;
    }
  }
  &__stats {
    text-align: left;
    font-size: 1.5em;
    font-weight: 500;
    padding: 5px;
    display: flex;
    justify-content: space-between;
  }

  &__title{

  }

  &__prestige{
    padding: 5px;
  }

  &__main {
    display: flex;
    margin-top: 10px;
  }

  &__left-container {
  }

  &__right-container {

  }

  &__tokens {
    display: flex;
  }

  &__token-container {
    margin: 5px;
  }

  &__bonuses {
    display: flex;
  }

  &__reserved-cards {
    display: flex;
  }

  &__reserved-card-container  {
    margin: 5px;
  }
}
