$block: player-information;

.#{$block} {
  border-top: 1px solid black;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  min-width: 500px;

  &--active-player {
    .#{$block}__title {
      color: white;
    }
    .#{$block}__prestige {
      background-color: white;
      border: 1px solid black;
    }
  }

  &__stats {
    text-align: left;
    font-size: 1.5em;
    font-weight: 500;
    padding: 5px;
    display: flex;
    justify-content: space-between;
  }

  &__title {

  }

  &__prestige {
    padding: 5px;
    border-radius: 5px;
  }

  &__main {
    display: flex;
    margin-top: 10px;
  }

  &__left-container {

  }

  &__right-container {

  }
}
