$deck-width: 130px;
$deck-height: 180px;

.deck {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  width: $deck-width;
  height: $deck-height;
  text-align: center;
  background: #bfbfbf;

  &--empty {
    opacity: 0.2;
  }

  &__count {
    margin-top: 50%;
    font-size: 1.5em;
  }

  &__level {
    margin-bottom: 5px;
  }
}
