$noble-size: 100px;
$noble-size-reserved: 50px;

.noble {
  width: $noble-size;
  height: $noble-size;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  background: white;
  border-radius: 5px;
  padding: 5px;

  &--reserved {
    width: $noble-size-reserved;
    height: $noble-size-reserved;
    font-size: 0.8em;
  }

  &__title {
    padding: 5px;
  }

  &__stats {
    display: flex;
    justify-content: space-around;
    padding: 2px;

    &--reserved {
      display: none;
    }
  }

  &__prestige {
    padding: 5px;
  }

  &__bonus {
    padding: 5px;
    border: 1px solid black;
  }
}
