.bonus {
  width: var(--bonus-size);
  height: var(--bonus-size);
  border: 5px solid black;
  border-radius: 5px;
  text-align: center;
  font-size: 0.8em;
  display: flex;
  background: white;

  &__amount {
    margin: auto;
  }

  &--red {
    border-color: var(--red);
  }

  &--green {
    border-color: var(--green);
  }

  &--blue {
    border-color: var(--blue);
  }

  &--white {
    border-color: var(--white);
  }

  &--black {
    border-color: var(--black);
    color: var(--black);
  }
}
